@import url("https://fonts.googleapis.com/css2?family=Hind+Guntur:wght@300;400;500;600;700&display=swap");

:root {
  --BK-Main: #1b1b1b;
  --BK-2: #171717;
  --BK-3: #2e2e2e;
  --BK-Linear-right: linear-gradient(180deg, #17171a 100%, #1b1b1c 24%;);
  --BK-Linear-left: linear-gradient(180deg, #17171a 100%, #1b1b1c 24%;);

  --WT-Main: #ededed;
  --WT-2: #d5d5d5;

  --Hind: "Hind Guntur", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--Hind);
}
